* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.btn {
  height: 30px;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 0.9em;
  padding: 0 10px;
  text-align: center;
}

i {
  padding: 4px;
}

/* NAVBAR */

nav {
  border-bottom: 1px solid #e4e4e4;
  background-color: #eeeeee;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.navbar__container {
  width: 1200px;
  margin: 0 auto;
}

nav ul {
  display: flex;
}

.navbar__view,
.navbar__view--selected {
  padding: 13px;
  list-style: none;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 0.8em;
  cursor: pointer;
  transition: border 0.2s; 
}

.navbar__view--selected {
  border-bottom: 4px solid #FF5049;
  cursor: default;
}

.navbar__view:hover {
  border-bottom: 4px solid #FF5049;
}

/* GENERAL APP CONTENT */

.app-content {
  margin: 100px 0 60px;
  animation: fade-in 0.8s;
}

.app-content__container {
  width: 1200px;
  margin: 0 auto;
}

@keyframes fade-in {
  from { opacity: 0;} 
  to  { opacity: 1; }
}

/* RATES CONTENT */

.caption {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.app-content__caption {
  text-align: center;
}

.rates {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.rates__update-rates-btn { margin-bottom: 20px; }
.rates__update-rates-btn:hover { background-color: #cacaca; }
.rates__update-rates-btn:active { background-color: #e0e0e0; }

.rates__table {
  /* width: 1000px; */
  border-collapse: collapse;
}

.rates__table th, 
.rates__table td {
  border-bottom: 1px solid #c8c8c8;
  text-align: left;
  padding: 4px;
  font-size: 0.9em;
}

th.currency-col {
  width: 500px;
}

th.code-col {
  width: 80px;
}

th.rate-col {
  width: 100px;
}

th.code-col,
td.code {
  text-align: center;
}

td.rate {
  text-align: right;
  letter-spacing: 1px;
}

.rates__table tr:nth-child(even) { background-color: #f3f3f3;}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #000;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #000 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* CONVERTER CONTENT */

.converter__content {
  display: none;
}

.converter {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.converter__box {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.converter__input {
  border: 1px solid #000000;
  font-size: 0.6em;
  font-weight: 600;
  text-transform: uppercase;
  padding: 4px;
  display: flex;
  flex-direction: column;
  margin: 30px;
  width: 200px;
  transition: border 0.1s;
}

.converter__input--error {
  border: 1px solid #ff3737;
}

.converter__change-btn {
  font-size: 0.8em;
  background-color: #ffe261;
}

.converter__change-btn i {
  padding: 0;
}

.converter__change-btn:hover { background-color: #eed35a; }
.converter__change-btn:active { background-color: #ffea8b; }

.converter__input input,
.converter__input select {
  height: 30px;
  border: none;
  outline: none;
  padding: 2px;
}

.converter__calculate-btn { 
  background-color: #fabf53; 
  margin: 30px;
}
.converter__calculate-btn:hover { background-color: #e2ad4b; }
.converter__calculate-btn:active { background-color: #ffd079; }

.result {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  margin-top: 40px;
}

.result span {
  margin: 0 20px;
}

.result__to {
  font-weight: 500;
  font-size: 1.1em;
}

/* SETTINGS CONTENT */

.settings__content {
  display: none;
}
.settings {
  display: flex;
  justify-content: space-between;
}

.settings__select-rates {
  width: 420px;
}

.settings__checkbox-list {
  margin: 10px 0 20px;
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
}

.settings__checkbox {
  margin: 6px 4px 0 0;
}

.settings__buttons {
  margin-bottom: 30px;
}

.settings__save-btn { 
  background-color: #5edf8f; 
  margin: 0 10px 10px 0;
}

.settings__save-btn:hover { background-color: #7dcaaa; }
.settings__save-btn:active { background-color: #a6d8c3; }

#saved-info {
  font-size: 0.8em;
}

.settings__check-all-btn {
  background-color: #fabf53;
  margin-right: 10px;
}

.settings__check-all-btn:hover { background-color: #e2ad4b; }
.settings__check-all-btn:active { background-color: #ffd079; }

.settings__uncheck-all-btn:hover { background-color: #cacaca; }
.settings__uncheck-all-btn:active { background-color: #e0e0e0; }

/* MEDIA QUERIES */

@media screen and (max-width: 1300px) {
  .navbar__container,
  .app-content__container {
    width: 1000px;
  }
}

@media screen and (max-width: 1100px) {
  .navbar__container,
  .app-content__container {
    width: 800px;
  }

  .converter__box {
    flex-direction: column;
    align-items: center;
  }

  .converter__input {
    margin: 20px;
  }
}

@media screen and (max-width: 890px) {
  .navbar__container,
  .app-content__container {
    width: 600px;
  }

  .settings {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 700px) {
  .navbar__container {
    width: 400px;
  }

  .app-content__container {
    width: 400px;
  }

  .rates__table {
    width: 90%;
    font-size: 0.9em;
  }
}

@media screen and (max-width: 500px) {
  nav ul {
    justify-content: center;
  }

  .navbar__container {
    width: 400px;
  }

  .app-content__container {
    width: 400px;
  }

  .app-content__caption {
    width: 80%;
  }

  .settings {
    align-items: center;
  }

  .settings__select-rates {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .settings__select-rates h4 {
    text-align: center;
  }

  .settings__checkbox-list {
    font-size: 0.8em;
  }

  .settings__buttons {
    display: flex;
    justify-content: center;
  }
}